JWT_SECRET=your_jwt_secret_here
GITHUB_CLIENT_ID=
GITHUB_CALLBACK_URL=
GITHUB_CLIENT_SECRET=
FRONTEND_URL=
DATABASE_URL="your-database-url-here"
GITHUB_TOKEN_ENC_KEY_B64="run in terminal : openssl rand -base64 32"
NEXT_PUBLIC_CONTROLLER_SERVICE_URL=
E2B_API_KEY=